{% extends "base.html" %}
{% block title %}Food Tracker | Shop{% endblock %}
{% block content %}

<script src="https://js.stripe.com/v3/"></script>

<div class="jumbotron" align="left">
    <h5>Food Tracker Shop</h5>
    <p class="lead">Items that you can buy from your close area.</p>
</div>


<div class="card-deck">

    {% for product in products.values %}

    <div style="padding-bottom: 5px" class="col-xs-12 col-md-4 col-sm-2">
          <div class="card">
              <img class="card-img-top" width="150" height="150"
                   src="{{ product[2][0] }}"
                   alt="No Image">
              <div class="card-body">
                <p style="display: flex; align-items: center; justify-content: center" class="card-text">{{ product[3] }}</p>

                <p class="card-text" style="display: flex; align-items: center; justify-content: center">{{ product[6] / 100 }}₺</p>

                  <form action="{{ url_for('shop.basket', id=product[1]) }}" method="post">

                    <div class="input-group">
                       <span class="input-group-btn">
                           <button class="btn btn-white btn-minuse" type="button">-</button>
                       </span>
                       <input type="text" class="form-control no-padding add-color text-center height-25" name="quantity" maxlength="3" value="0">
                       <span class="input-group-btn">
                           <button class="btn btn-red btn-pluss" type="button">+</button>
                       </span>
                    </div>

                     <div style="display: flex; align-items: center; justify-content: center">
                      <button name="addToCart" style="background-color: #343a40; border-color: #343a40; display: flex; align-items: center; justify-content: center" type="submit" class="btn btn-primary btn-block">Add to Cart</button>
                     </div>
                  </form>
              </div>
          </div>
      </div>

    {% endfor %}
</div>

<script>
$('.btn-minuse').on('click', function() {
  var inputField = $(this).parent().siblings('input');
  var currentValue = parseInt(inputField.val());
  if (currentValue > 0) {
    inputField.val(currentValue - 1);
  }
});

$('.btn-pluss').on('click', function() {
  var inputField = $(this).parent().siblings('input');
  var currentValue = parseInt(inputField.val());
  if (currentValue >= 0) {
    inputField.val(currentValue + 1);
  }
});
</script>

{% endblock %}
